<div class="nav">
  <div class="container">
    <div class="nav__content">
      <div class="nav__title">
        <%= link_to 'Mythos', root_path %>
      </div>
      <div class="nav__links">
      <%= link_to 'Myths', myths_path(@myth) %>
      <%= link_to 'Gods', gods_path(@god) %>
      <span class="underline"><%= link_to 'Heroes', heros_path(@hero) %></span>
    </div>
  </div>
  </div>
</div>


<h1 class="page-title">Hero's Home</h1>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="center">
    <h1 class="top-link"><%= link_to 'Create a New Hero', new_hero_path %></h1>
  </div>
</div>

<div class="container">

  <% @heros.each do |hero| %>

    <div class="card">
      <div class="card__content">

        <h2 class="card__content-title"><%= hero.name %></h2>
        <div class="card__content-sub">Spouse: <%= hero.spouse %></div>
        <div class="card__content-sub">Parents: <%= hero.parents %></div>
        <div class="card__content-sub">Children: <%= hero.children %></div>
        <div class="card__content-sub">Powers: <%= hero.powers %></div>
        <div class="card__content-item"><%= hero.description %></div>
        <div class="button-box">
          <div class="button-box__btn"><%= link_to 'Edit', edit_hero_path(hero) %></div>
          <div class="button-box__btn"><%= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>

      </div>
    </div>
    <% end %>

  </div>
