<div class="nav">
  <div class="container">
    <div class="nav__content">
      <div class="nav__title">
        <%= link_to 'Mythos', root_path %>
      </div>
      <div class="nav__links">
      <%= link_to 'Myths', myths_path(@myth) %>
      <%= link_to 'Gods', gods_path(@god) %>
      <span class="underline"><%= link_to 'Heros', heros_path(@hero) %></span>
    </div>
  </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hero.name %>
</p>

<p>
  <strong>Spouse:</strong>
  <%= @hero.spouse %>
</p>

<p>
  <strong>Parents:</strong>
  <%= @hero.parents %>
</p>

<p>
  <strong>Children:</strong>
  <%= @hero.children %>
</p>

<p>
  <strong>Powers:</strong>
  <%= @hero.powers %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hero.description %>
</p>

<%= link_to 'Hero Main', heros_path %>
