<div class="nav">
  <div class="container">
    <div class="nav__content">
      <div class="nav__title">
        <%= link_to 'Mythos', root_path %>
      </div>
      <div class="nav__links">
      <%= link_to 'Myths', myths_path(@myth) %>
      <span class="underline"><%= link_to 'Gods', gods_path(@god) %></span>
      <%= link_to 'Heros', heros_path(@hero) %>
    </div>
  </div>
  </div>
</div>

<%= form_for(god) do |f| %>
  <% if god.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(god.errors.count, "error") %> prohibited this god from being saved:</h2>

      <ul>
      <% god.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :house %>
    <%= f.text_field :house %>
  </div>

  <div class="field">
    <%= f.label :spouse %>
    <%= f.text_field :spouse %>
  </div>

  <div class="field">
    <%= f.label :parents %>
    <%= f.text_field :parents %>
  </div>

  <div class="field">
    <%= f.label :children %>
    <%= f.text_field :children %>
  </div>

  <div class="field">
    <%= f.label :powers %>
    <%= f.text_area :powers %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
