<div class="nav">
  <div class="container">
    <div class="nav__content">
      <div class="nav__title">
        <%= link_to 'Mythos', root_path %>
      </div>
      <div class="nav__links">
      <%= link_to 'Myths', myths_path(@myth) %>
      <span class="underline"><%= link_to 'Gods', gods_path(@god) %></span>
      <%= link_to 'Heroes', heros_path(@hero) %>
    </div>
  </div>
  </div>
</div>

<h1 class="page-title">Gods Home</h1>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="center">
    <h1 class="top-link"><%= link_to 'Create a New God', new_god_path %></h1>
  </div>
</div>

<div class="container">

  <% @gods.each do |god| %>

    <div class="card">
      <div class="card__content">


        <h2 class="card__content-title"><%= god.name %></h2>
        <div class="card__content-sub">Spouse: <%= god.spouse %></div>
        <div class="card__content-sub">Parents: <%= god.parents %></div>
        <div class="card__content-sub">Children: <%= god.children %></div>
        <div class="card__content-sub">Powers: <%= god.powers %></div>
        <div class="card__content-item"><%= god.description %></div>
        <!-- <td><%= link_to 'Show', god %></td> -->
        <div class="button-box">
          <div class="button-box__btn"><%= link_to 'Edit', edit_god_path(god) %></div>
          <div class="button-box__btn"><%= link_to 'Destroy', god, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>

      </div>
    </div>
    <% end %>

  </div>
