<div class="nav">
  <div class="container">
    <div class="nav__content">
      <div class="nav__title">
        <%= link_to 'Mythos', root_path %>
      </div>
      <div class="nav__links">
      <%= link_to 'Myths', myths_path(@myth) %>
      <span class="underline"><%= link_to 'Gods', gods_path(@god) %></span>
      <%= link_to 'Heroes', heros_path(@hero) %>
    </div>
  </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @god.name %>
</p>

<p>
  <strong>Spouse:</strong>
  <%= @god.spouse %>
</p>

<p>
  <strong>Parents:</strong>
  <%= @god.parents %>
</p>

<p>
  <strong>Children:</strong>
  <%= @god.children %>
</p>

<p>
  <strong>Powers:</strong>
  <%= @god.powers %>
</p>

<p>
  <strong>Description:</strong>
  <%= @god.description %>
</p>

<%= link_to 'Gods Main', gods_path %>
