<div class="nav">
  <div class="container">
    <div class="nav__content">
      <div class="nav__title">
        <%= link_to 'Mythos', root_path %>
      </div>
      <div class="nav__links">
      <%= link_to 'Myths', myths_path(@myth) %>
      <%= link_to 'Gods', gods_path(@god) %>
      <%= link_to 'Heroes', heros_path(@hero) %>
    </div>
  </div>
  </div>
</div>

<div class="hero">
  <div class="hero-box">
    <div class="hero__title">MYTHOS</div>
    <div class="hero__tag">Create Your Own Pantheon</div>
  </div>
</div>

<div class="about">
  <div class="container">
    <div class="about-box">

      <div class="about__card">
        <div class="about__card-content">
          <div class="about__card-title">Read</div>
          <div class="about__card-tag">See other people's mythology, gods, and heroes. Sometimes it is completely new and novel or it can be a retelling of an old story. All in good fun.
          </div>
          <div class="button-box">
            <div class="button-box__btn"><%= link_to 'Myths', myths_path(@myth) %></div>
            <div class="button-box__btn"><%= link_to 'Gods', gods_path(@god) %></div>
            <div class="button-box__btn"><%= link_to 'Heroes', heros_path(@hero) %></div>
          </div>
        </div>
      </div>

      <div class="about__card">
        <div class="about__card-content">
          <div class="about__card-title">Contribute</div>
          <div class="about__card-tag">Do you have a myth you want to tell? or have an idea for an amazing new god? Well submit your ideas into Mythos and others can take and run with your ideas.
          </div>
          <div class="button-box">
            <div class="button-box__btn"><%= link_to 'New Myth', new_myth_path %></div>
            <div class="button-box__btn"><%= link_to 'New God', new_god_path %></div>
            <div class="button-box__btn"><%= link_to 'New Hero', new_hero_path %></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
