<p id="notice"><%= notice %></p>

<h1>Myths</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Author</th>
      <th>Body</th>
      <th>Order</th>
      <th>Publish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @myths.each do |myth| %>
      <tr>
        <td><%= myth.title %></td>
        <td><%= myth.subtitle %></td>
        <td><%= myth.author %></td>
        <td><%= myth.body %></td>
        <td><%= myth.order %></td>
        <td><%= myth.publish %></td>
        <td><%= link_to 'Show', myth %></td>
        <td><%= link_to 'Edit', edit_myth_path(myth) %></td>
        <td><%= link_to 'Destroy', myth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Myth', new_myth_path %>
