<div class="nav">
  <div class="container">
    <div class="nav__content">
      <div class="nav__title">
        <%= link_to 'Mythos', root_path %>
      </div>
      <div class="nav__links">
      <span class="underline"><%= link_to 'Myths', myths_path(@myth) %></span>
      <%= link_to 'Gods', gods_path(@god) %>
      <%= link_to 'Heros', heros_path(@hero) %>
    </div>
  </div>
  </div>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @myth.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @myth.subtitle %>
</p>

<p>
  <strong>Author:</strong>
  <%= @myth.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @myth.body %>
</p>

<p>
  <strong>Order:</strong>
  <%= @myth.order %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @myth.publish %>
</p>

<%= link_to 'Edit', edit_myth_path(@myth) %> |
<%= link_to 'Back', myths_path %>
